
<div class="text-center" style="margin-top:20px;">
    <div class="alert alert-primary" role="alert">
        <h3>Welcome to Your Site</h3>
    </div>
</div>

<div class="row" style="height:400px">
    <div class="col-lg-4 text-center">
        <ul class="list-unstyled">
            <li><h3>Electronics</h3></li>
            <li>
                <div class="card">
                    <img src="" class="card-img-top w-50" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Featured Products</h5>
                        <div class="card-text">

                        </div>
                        <a href="#" class="btn btn-primary">See All Deals</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <ul class="list-unstyled">
            <li><h3>Computers</h3></li>
            <li>
                <div class="card">
                    <img src="" class="card-img-top w-50" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Featured Products</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <div class="card-text">

                        </div>
                        <a asp-controller="Products" asp-action="Computers" class="btn btn-primary">See All Deals</a>
                    </div>
                </div>
            </li>
        </ul>
        
    </div>
    <div class="col-lg-4 text-center">
        <ul class="list-unstyled">
            <li><h3>Phones</h3></li>
            <li>
                <div class="card">
                    <img src="" class="card-img-top w-50" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Featured Products</h5>
                        <div class="card-text">

                        </div>
                        <a href="#" class="btn btn-primary">See All Deals</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

